*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image: url(/Snake/wp2409705-snake-game-wallpapers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#headd{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #000;
    color: darkgreen ;
    font-style:italic, bold 5px;
    font-size: 10vh;
    font-weight: bold;
}

#board{
    margin-top: 10vh;
    margin-bottom: 5vh;
}
#score{
    display: flex;
    text-align: end;
    justify-content: end;
    align-items: end;
    padding: 0;
    margin-top: 5vh;
    margin-right: 5vh;
    font-size: 5vh;
    color:#000;
    font-weight: bold;
}